<ion-view view-title="Dashboard">
  <ion-content>

      <div class="list">

	  <div class="item item-divider">
	    Search results
	  </div>

		<div class="item" ng-hide="restaurants.length">
			No results were found.
		</div>

        <a ng-repeat="restaurant in restaurants" 
           href="#/{{restaurant.name}}"
           class="item item-thumbnail-left">

          <img ng-src="{{ restaurant.image }}">
          <h2>{{ restaurant.name }}</h2>
          <h4>{{ restaurant.address }}</h4>
        </a>

      </div>

  </ion-content>
</ion-view>
